.checkbox {
	font-size: 16px;
	line-height: 20px;
	padding: 0px 0px 0px 40px;
	position: relative;
	cursor: pointer;
	color: #b2b2b2;
	transition: all 0.3s ease 0s;
}

.checkbox.active {
	color: #b2b2b2;
}

.checkbox.active:before {
	background-color: $main-color;
}

.checkbox.active:after {
	display: block;
}

.checkbox:before {
	content: '';
	width: 18px;
	height: 18px;
	border-radius: 3px;
	background-color: #bfc0c4;
	position: absolute;
	left: 0;
	top: 0;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.checkbox:after {
	content: '';
	display: none;
	position: absolute;
	width: 10px;
	height: 10px;
	left: 4px;
	top: 4px;
	background: url(../img/mark.svg);

}

.checkbox input {
	display: none;
}