.pageup {
    width: 59px;
    height: 59px;
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: $main-color;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    img {
        display: block;


    }
}